<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean  class="in.ns.beans.Student" id="stdId">
        <property name="name" value="Nagesh"/>
        <property name="rollno" value="101"></property>
        <property name="email" value="nr123@gmail.com"></property>
    </bean>

</beans>


